# Pliki ignorowane przez Gita

**/ASF
**/Debug

**/.vs
*.cat
*.inf
*.xml
*.cproj
*.atsln
**/Python/__pycache__/
**/Python/Symulacje/__pycache__/
**/Python/Symulacje/uklad.py
**/Python/GUI_to_exe.txt
**/Python/slowniki_uszkodzen
**/Python/Pomiary